@model DotNetLearning.Models.employee    
       

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
Strogly typed views

EmployeeID : @Model.EmpID
<br />
Employee Name : @Model.Name
<br />
Employee Gender : @Model.Gender
<br />
Employee City :@Model.City